.detailscontainer{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
}
.detailscontainer h1{
font-size: 2.6rem;
margin-top: 4rem;
margin-bottom: 1.5rem;
}
.detailscontainer p{
    margin-bottom: 1rem;
}
.button{
    padding: .6rem 2rem;
    margin-top: .5rem;
    cursor: pointer;


}

.moviecontainers{
    display: flex;
    column-gap: 2rem;
    /* flex: 2; */
    overflow: scroll;
    position: relative;
    padding-bottom: 6rem;
    scrollbar-width: none;
    padding-left: 4rem;
  }