.detailscontainer{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
    color: white;
    
}
.detailscontainer h1{
font-size: 2.6rem;
margin-top: 4rem;
margin-bottom: 1.5rem;
}
.detailscontainer p{
    margin-bottom: 1rem;
    font-size: larger;
    color: white;
}
.button{
    padding: .6rem 2rem;
    margin-top: .5rem;
    cursor: pointer;


}

.moviecontainers{
    display: flex;
    column-gap: 2rem;
    /* flex: 2; */
    overflow: scroll;
    position: relative;
    padding-bottom: 6rem;
    scrollbar-width: none;
    padding-left: 4rem;
  }

  @media only screen and (max-width: 768px){
    .backImage{
       display: none;
    }
  }

@media only screen and (max-width: 600px) {
    .detailscontainer h1{
        font-size: 1.4rem;

    }

    .detailscontainer p{
        font-size: medium;
    }
}


